body {
  background: url(img/fundo.png);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16;
}
#principal {
  width: 900px;
}
#menu {
  background: #c2c2b4;
  padding: 20px;
}
a {
  color: #304661;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
}
#conteudo {
  background: white;
  padding: 20px;
}
h2 {
  color: #7c7c72;
}
#rodape {
  padding: 20px;
  text-align: center;
  font-weight: bold;
}
.imgs {
  border: 5px solid #c2c2b4;
}
