* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: rgb(247, 247, 247);
}

#areaCabecalho {
  background: #f7b600;
  padding: 15px;
  text-align: center;
}
#areaLogo,
#areaMenu {
  padding: 10px;
}
#areaPrincipal {
  width: 920px;
  margin: 0 auto;
  padding: 15px;
}

#areaPostagens {
  width: 660px;
  float: left;
}
#areaLateral {
  width: 240px;
  float: right;
}
.postagem {
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}
.conteudoLateral {
  background: white;
  padding: 10px;
  margin-bottom: 20px;
}
.postagemLateral {
  font-size: 0.8em;
  padding: 5px;
  border-bottom: 1px dotted #ccc;
}

#rodape {
  clear: both;
  background: #ccc;
  text-align: center;
  padding: 15px;
}

a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #f7b600;
}
a:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
}
#areaCabecalho a:link,
#areaCabecalho a:visited {
  color: #fff;
  padding: 8px 12px;
}
#areaCabecalho a:hover {
  color: #f7b600;
  background: #fff;
  border-radius: 5px;
  text-decoration: none;
}
.textoLateral {
  font-size: 0.8em;
  padding: 5px;
}

h1 {
  color: #4e4e4e;
  font-size: 2.5em;
}
h2 {
  color: #f7b600;
}
h3 {
  color: #3f3f3f;
  background: #ccc;
  padding: 5px;
}

.branco {
  color: white;
}
.dataPostagem {
  font-size: 0.8em;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: block;
}
