@import url(../../style.css);

.input-style {
  color: white;
  background: 0;
  border: 0;
  border-bottom: 2px solid var(--amarelo);
  transition: all 0.5s;
  border-radius: 2px;
}
.input-style:focus {
  outline: none;
  border-bottom: 2px solid var(--lilas);
}

/* para o select (aquele que vc clica e aparece opção logo abaixo) */
.select-style {
  color: white;
  background: transparent;
  border: 0;
  border-bottom: 2px solid var(--amarelo);
  transition: all 0.5s;
  border-radius: 2px;
}
.select-style:focus {
  outline: none;
  border-bottom: 2px solid var(--lilas);
}

.select-style > option {
  color: white;
  background: var(--amarelo);
  padding: 10px;
  /* border-bottom: 1px solid white; */
}
.select-style > option:hover {
  background: red;
}

/* fim para o select (aquele que vc clica e aparece opção logo abaixo) */

/* utilizando o radio button */
.table-pack {
  list-style: none;
}
.div-h1-height {
  height: 100px;
  text-align: center;
}
/* .table-pack li::marker {
  content: "⭐ ";
} */
/* fim utilizando o radio button */

.button-style {
  background: 0;
  outline: none;
  border: none;
  border: 2px solid var(--amarelo);
  background: var(--lilas);
  color: white;
  transition: all 0.3s;
}
.button-style:hover {
  border: 2px solid var(--lilas);
  background: linear-gradient(
    317deg,
    rgba(122, 113, 218, 0.5),
    rgba(109, 103, 177, 0.5)
  );
  background-size: 400% 400%;
}

.form-style {
  border: 2px solid var(--amarelo);
  background: rgba(0, 0, 0, 0.2);
}

/* textArea */
textarea {
  border: 1px solid var(--amarelo);
  background: transparent;
  color: white;
  resize: none;
}
textarea:focus {
  outline: none;
  border: 1px solid var(--lilas);
}
/* fim textArea */

/* radio button */
.container-radio {
  background: red;
  display: flex;
  align-items: center;
}
.radio-custom {
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-clip: content-box;
  border: 2px solid var(--amarelo);
  background-color: var(--amarelo);
  padding: 1px;
}
.radio-custom:checked {
  transition: all 0.3s;
  background-color: var(--lilas);
  padding: 2px;
  border: 2px solid var(--lilas);
}
/*fim radio button */

.Toastify__toast-theme--colored.Toastify__toast--info {
  color: red;
}

.Toastify__progress-bar {
  color: red;
  background: red;
}
