@import url(../../style.css);

.input-style {
  color: white;
  background: 0;
  border: 0;
  border-bottom: 2px solid var(--amarelo);
  transition: all 0.5s;
  border-radius: 2px;
}
.input-style:focus {
  outline: none;
  border-bottom: 2px solid var(--lilas);
}

.button-style {
  background: 0;
  outline: none;
  border: none;
  border: 2px solid var(--amarelo);
  background: var(--lilas);
  color: white;
  transition: all 0.3s;
}
.button-style:hover {
  border: 2px solid var(--lilas);
  background: linear-gradient(
    317deg,
    rgba(122, 113, 218, 0.5),
    rgba(109, 103, 177, 0.5)
  );
  background-size: 400% 400%;
}

.form-style {
  border: 2px solid var(--amarelo);
  background: rgba(0, 0, 0, 0.2);
}

/* textArea */
textarea {
  border: 2px solid var(--amarelo);
  background: transparent;
  color: white;
  resize: none;
}
textarea:focus {
  outline: none;
  border: 2px solid var(--lilas);
}
/* fim textArea */

/* radio button */
.radio-custom {
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-clip: content-box;
  border: 2px solid var(--amarelo);
  background-color: var(--amarelo);
  padding: 1px;
  margin: 0 10px;
}
.radio-custom:checked {
  transition: all 0.3s;
  background-color: var(--lilas);
  padding: 2px;
  border: 2px solid var(--lilas);
}
/*fim radio button */

::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input-disable {
  border-bottom: 2px solid gray;
}
